<md-bottom-sheet class="md-grid" layout="column" >
  <div ng-cloak>
    <md-list flex  layout-align="center center">
      <md-list-item ng-repeat="item in items">
        <div>
          <md-button class="md-grid-item-content " md-colors="{color: 'pink-A200'}" ng-click="listItemClick($index)">
            <md-icon md-colors="{color: 'pink-A200'}" class="material-icon">{{item.icon}}</md-icon>
            <div class="md-grid-text"> {{ item.name }} </div>
          </md-button>
        </div>
      </md-list-item>
    </md-list>
  </div>
</md-bottom-sheet>