<md-list>
    <md-list-item class="md-3-line" md-ink-ripple="blue" ng-click="vm.goToTaskListPage(p._id)" ng-repeat="p in vm.projects">
        <div class="md-list-item-text">
            <h3>{{p.projectName}}</h3>
            <p>进度：{{p.rate}}%</p>
        </div>
        <md-button ng-click="vm.activeProject($event,p)" ng-disabled="p.isActive===true" class="md-secondary md-raised md-primary">{{(p.isActive===true)?'已激活':'激活'}}</md-button>
        <md-button ng-click="vm.deleteProject($event,p)" class="md-secondary md-ink-ripple" md-colors="{background: 'red'}">删除</md-button>
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
</md-list>