<div class="container-fluid row" ng-cloak>
    <form name="addTaskFrom" class=" col-md-8 col-md-offset-2" ng-submit="vm.addTask()" style="padding-bottom:60px;">
        <div class="form-group">
            <label for="account">名称</label>
            <input type="text" ng-model="vm.newTask.taskName" class="form-control" placeholder="任务名称" required>
        </div>
        <div class="form-group">
            <label>单号</label>
            <input type="text" class="form-control" ng-model="vm.newTask.dh" placeholder="需求单号-修改单号" required>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>计划开始时间</label>
                    <md-datepicker datepicker-validation-fix name="planStartTime" ng-model="vm.newTask.planStartTime" md-placeholder="计划开始时间" md-max-date="vm.newTask.planEndTime" required></md-datepicker>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>计划结束时间</label>
                    <md-datepicker datepicker-validation-fix ng-model="vm.newTask.planEndTime" md-placeholder="计划结束时间" md-min-date="vm.newTask.planStartTime" required></md-datepicker>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>项目</label>
            <md-select placeholder="项目" ng-model="vm.newTask.project" style="min-width: 200px;">
                <md-option ng-value="p" ng-repeat="p in vm.usefulProjects" ng-selected="(p._id===vm.newTask.projectId||(!vm.isUpdate&&$first))?'selected':''">{{p.projectName}}</md-option>
            </md-select>
        </div>
        <div class="form-group">
            <label>任务权重</label>
            <md-slider-container>
                <md-icon class="material-icon">brightness_low</md-icon>
                <md-slider ng-model="vm.newTask.weight" aria-label="weight" flex md-discrete ng-readonly="readonly" step="1" min="0" max="30"></md-slider>
                <md-input-container>
                    <input flex type="number" style="padding-left:0;" ng-model="vm.newTask.weight" aria-label="green" step="1" min="1" max="30">
                </md-input-container>
            </md-slider-container>
        </div>
        <div class="form-group">
            <label>执行人</label>
            <md-select placeholder="执行人" ng-model="vm.newTask.user" style="min-width: 200px;">
                <md-option ng-value="u" ng-repeat="u in vm.usefulUsers" ng-selected="(u.account===vm.newTask.dealAccount)?'selected':''">{{u.name}}</md-option>
            </md-select>
        </div>
        <div class="inset" layout="row" layout-align="center">
            <div flex="50" layout="column">
                <md-button  type="submit" class="md-raised md-primary md-button md-ink-ripple" ng-disabled="addTaskFrom.$invalid||addTaskFrom.$pending">提交</md-button>
            </div>
            <div flex="50" layout="column">
                <md-button class="md-raised md-warn md-button md-ink-ripple" ui-sref="{{(preState.name!='')?preState.name:'home.work'}}">返回</md-button>
            </div>
        </div>
    </form>
</div>
