<md-table-container class="table-content">
    <table md-table md-row-select multiple ng-model="tk.selected" md-progress="tk.promise" style="width:100%;">
        <thead md-head md-order="tk.query.order" md-on-reorder="tk.getTasks">
            <tr md-row>
                <th md-column md-order-by="taskName"><span>项目名称</span></th>
                <th md-column>单号</th>
                <th md-column><span>所属项目</span></th>
                <th md-column>计划开始时间</th>
                <th md-column style="text-align:center;">计划完成时间</th>
                <th md-column style="text-align:center;">当前进度</th>
                <th md-column style="text-align:center;">执行人</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="task" md-select-id="_id" md-auto-select="true" ng-repeat="task in tk.tasks | orderBy:tk.query.order">
                <td md-order-by="task.taskName" md-cell>{{task.taskName}}</td>
                <td md-order-by="task.dh"  md-cell>{{task.dh}}</td>
                <td md-order-by="task.projectName" md-cell>{{task.projectName}}</td>
                <td md-order-by="task.planStartTime" md-cell>{{task.planStartTime}}</td>
                <td md-order-by="task.planEndTime" md-cell>{{task.planEndTime}}</td>
                <td md-order-by="task.rate" md-cell>{{task.rate}}</td>
                <td md-order-by="task.userName" md-cell>{{task.userName}}</td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination class="table-page"  md-limit="tk.query.limit" md-limit-options="[1, 5, 10]" md-page="tk.query.page" md-total="{{tk.all}}" md-on-paginate="tk.getTasks"  md-page-select></md-table-pagination>
