        <form name="taskForm" ng-submit="vm.submitTask()" style="padding:60px;margin:0 auto;">
            <div class="form-group">
                <label for="account">名称</label>
                <input type="text" ng-model="vm.task.taskName" class="form-control" placeholder="任务名称" required ng-readonly="vm.isReadonly">
            </div>
            <div class="form-group">
                <label>任务单号</label>
                <input type="text" class="form-control" ng-model="vm.task.dh" placeholder="需求单号-修改单号" required ng-readonly="vm.isReadonly">
            </div>
            <div class="form-group">
                <label>任务描述</label>
                <textarea style="height:100px;resize:vertical;" class="form-control" ng-model="vm.task.taskDesc" placeholder="任务详细描述" ng-readonly="vm.isReadonly"></textarea>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>计划开始时间</label>
                        <md-datepicker datepicker-validation-fix name="planStartTime" ng-model="vm.task.planStartTime" md-placeholder="计划开始时间" md-max-date="vm.task.planEndTime" ng-disabled="vm.isReadonly" required></md-datepicker>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>计划结束时间</label>
                        <md-datepicker datepicker-validation-fix ng-model="vm.task.planEndTime" md-placeholder="计划结束时间" md-min-date="vm.task.planStartTime" ng-disabled="vm.isReadonly" required></md-datepicker>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>项目</label>
                <md-select placeholder="项目" ng-model="vm.task.project" style="min-width: 200px;" ng-disabled="vm.isReadonly" required>
                    <md-option ng-value="p" ng-repeat="p in vm.allProjects | orderBy : '-createTime' " ng-selected="(!vm.isNew&&(p._id===vm.task.projectId))||(vm.isNew&&(p.isActive===true))">{{p.projectName}}</md-option>
                </md-select>
            </div>
            <div class="form-group">
                <label>任务权重</label>
                <md-slider-container>
                    <md-icon class="material-icon">brightness_low</md-icon>
                    <md-slider ng-model="vm.task.weight" aria-label="weight" flex md-discrete ng-disabled="vm.isReadonly" step="1" min="0" max="30"></md-slider>
                    <md-input-container>
                        <input flex type="number" style="padding-left:0;" ng-model="vm.task.weight" aria-label="green" step="1" min="1" max="30" ng-readonly="vm.isReadonly">
                    </md-input-container>
                </md-slider-container>
            </div>
            <div class="form-group">
                <label>执行人</label>
                <md-select placeholder="执行人" ng-model="vm.task.user" style="min-width: 200px;" ng-disabled="vm.isReadonly" required>
                    <md-option ng-value="u" ng-repeat="u in vm.allUsers" ng-selected="u.account===vm.task.dealAccount">{{u.name}}</md-option>
                </md-select>
            </div>
            <div ng-hide="vm.isReadonly" class="inset" layout="row" layout-align="center">
                <div flex="50" layout="column">
                    <md-button class="md-raised md-warn md-button md-ink-ripple" ng-click="vm.goBack()">返回</md-button>
                </div>
                <div flex="50" layout="column">
                    <md-button type="submit" class="md-raised md-primary md-button md-ink-ripple" ng-disabled="taskForm.$invalid||taskForm.$pending||!taskForm.$dirty">提交</md-button>
                </div>
            </div>
        </form>