/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */

//import sass
@import "sass/user-manage.scss";
// bower:scss
// endbower
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    background: #ddd;
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track-piece {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

​ .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.thumbnail {
    height: 200px;
    img.pull-right {
        width: 50px;
    }
}

.progressjs-progress {
    position: fixed;
    top: 0;
    left: 0;
}

.fixed-center {
    position: fixed;
    left: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.absolute-center {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.dialog-lg {
    text-align: center;
}

.dialog-lg .modal-content {
    background-color: #fff;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border: none;
    text-align: center;
}

.loading-dialog {
    background: url('/assets/images/ring-200.svg') no-repeat;
    color: #bfc8cc;
    font-size: 24px;
    letter-spacing: 2px;
    cursor: default;
}

.loading-icon {
    display: inline-block;
    background: url(../assets/images/ring-200.svg) no-repeat;
    background-size: 100%;
    height: 40px;
    width: 40px;
}

.dialog .content {
    line-height: normal;
    font-size: 40px;
    cursor: default;
}

.dialog .content i.material-icons {
    padding: 20px 0 30px 0;
    vertical-align: top;
    display: block;
    font-size: 70px;
    margin-top: 10px;
}

.success-dialog .content {
    color: #449d44;
}

.error-dialog .content {
    color: #c9302c;
}


/* Titles */


/*------------------ main页面开始 ---------------*/

html,
body {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

div,
input,
button,
select,
textarea {
    outline: none
}


/* Paragraph & Typographic */

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.container-fluid {
    padding: 0;
}

.md-title {
    color: #4CAF50;
}




/* Links */

#myTab a {
    color: #1abc9c;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

#myTab a:hover,
#myTab a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

#myTab a:before,
#myTab a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

#myTab hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.w {
    background-color: #fff;
    margin: 0;
}

.w .left-panel {
    padding-left: 0px;
    padding-right: 0px;
    overflow: auto;
}

.w .right-panel {
    padding-left: 0px;
    padding-right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-tabs {
    border-bottom: 1px solid #dddddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border-left: 5px solid #1abc9c;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    width: 100%;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.428571429;
    border-bottom: 1px solid #dddddd;
    border-radius: 0 0 0 0;
    width: 100%;
    background-color: #f2f2f2;
}

.tab-content {
    background-color: #ffffff;
    padding: 20px 15px 0 15px;
}

.tab-content h5 {
    color: #bdc3c7;
    font-weight: 700;
    letter-spacing: 1px;
}

.red i {
    font-size: 12px;
    color: #e74c3c;
}

i {
    vertical-align: middle;
}

.sm {
    font-size: 14px;
}

.grep-line {
    margin: 10px;
}

grey {
    color: #bdc3c7;
    font-weight: 700;
    font-size: 16px;
}

.img-responsive {
    width: 100%;
}

.centered .img-responsive {
    max-width: 350px;
    width: 100%;
    height: auto;
    margin: 10px auto;
    border-radius: 0;
    font-size: 0px;
    cursor: pointer;
    padding: 10px;
}

.centered .img-responsive:hover {
    transition: border-radius .35s;
    border-radius: 50%;
}
.first .img-responsive:hover{
    border-left: 5px solid #fd6469;
    border-right: 5px solid #fd6469; 
}
.first figcaption grey{
    color:#fd6469;
}
.second .img-responsive:hover{
    border-left: 5px solid #1abc9c;
    border-right: 5px solid #1abc9c; 
}
.second figcaption grey{
    color:#1abc9c;
}
.third .img-responsive:hover{
    border-left: 5px solid #f5f4ec;
    border-right: 5px solid #f5f4ec; 
}
.third figcaption grey{
    color:#f5f4ec;
}
.fourth .img-responsive:hover{
    border-left: 5px solid #c9da6d;
    border-right: 5px solid #c9da6d; 
}
.fourth figcaption grey{
    color:#c9da6d;
}
.tab-pane {
    height: 100%;
}

.tab-pane figure figcaption {
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    letter-spacing: 2px;
}

.info-name {
    letter-spacing: 4px;
}

#info h4 {
    margin-top: 20px;
}

@media screen and(max-width:1440px) {
    .centered .img-responsive {
        max-width: 260px;
    }
}

@media screen and(min-width:1330px) {
    .tab-pane .row {
        margin-top: 20px;
    }
}

@media screen and(min-width:990px) {
    .vertical-center {
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}


/*------------------ main页面结束 ---------------*/


/*-------------登录页面开始----------*/

.sign-in {
    background: #000;
    background-size: cover;
    font-size: 10px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
}

#logo {
    animation: logo-entry 4s ease-in;
    width: 500px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

h1.hogo {
    animation: text-glow 2s ease-out infinite alternate;
    color: #00a4a2;
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
    top: 50px;
}

h1.hogo:before {
    animation: before-glow 2s ease-out infinite alternate;
    border-left: 535px solid transparent;
    border-bottom: 10px solid #00a4a2;
    content: ' ';
    height: 0;
    position: absolute;
    right: -74px;
    top: -10px;
    width: 0;
}

h1.hogo:after {
    animation: after-glow 2s ease-out infinite alternate;
    border-left: 100px solid transparent;
    border-top: 16px solid #00a4a2;
    content: ' ';
    height: 0;
    position: absolute;
    right: -85px;
    top: 24px;
    transform: rotate(-47deg);
    width: 0;
}


/* =========================================
Log in form
========================================= */

#fade-box {
    animation: input-entry 3s ease-in;
    z-index: 4;
}

.stark-login form {
    animation: form-entry 3s ease-in-out;
    background: #111;
    background: linear-gradient(#004746, #111111);
    border: 6px solid #00a4a2;
    box-shadow: 0 0 15px #00fffd;
    border-radius: 5px;
    display: inline-block;
    height: 220px;
    margin: 200px auto 0;
    position: relative;
    z-index: 4;
    width: 500px;
    transition: 1s all;
}

.stark-login form:hover {
    border: 6px solid #00fffd;
    box-shadow: 0 0 25px #00fffd;
    transition: 1s all;
}

.stark-login input {
    background: #222;
    background: linear-gradient(#333333, #222222);
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-size: 1.3rem;
    height: 40px;
    margin: 20px auto 10px;
    padding: 0 10px;
    text-shadow: 0 -1px 0 #000;
    width: 400px;
}

.stark-login input:focus {
    animation: box-glow 1s ease-out infinite alternate;
    background: #0B4252;
    background: linear-gradient(#333933, #222922);
    border-color: #00fffc;
    box-shadow: 0 0 5px rgba(0, 255, 253, 0.2), inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 #000;
    color: #efe;
    outline: none;
}

.stark-login input:invalid {
    border: 2px solid red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2), inset 0 0 5px rgba(255, 0, 0, 0.1), 0 2px 0 #000;
}

.stark-login button {
    animation: input-entry 3s ease-in;
    background: #222;
    background: linear-gradient(#333333, #222222);
    box-sizing: content-box;
    border: 1px solid #444;
    border-left-color: #000;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    color: #fff;
    display: block;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 20px auto;
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 400px;
    transition: 1s all;
}

.stark-login button:hover,
.stark-login button:focus {
    background: #0C6125;
    background: linear-gradient(#393939, #292929);
    color: #00fffc;
    outline: none;
    transition: 1s all;
}

.stark-login button:active {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px;
}


/* =========================================
Spinner
========================================= */

#circle1 {
    animation: circle1 4s linear infinite, circle-entry 6s ease-in-out;
    background: #000;
    border-radius: 50%;
    border: 10px solid #00a4a2;
    box-shadow: 0 0 0 2px black, 0 0 0 6px #00fffc;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -250px;
    overflow: hidden;
    opacity: 0.4;
}

#inner-cirlce1 {
    background: #000;
    border-radius: 50%;
    border: 36px solid #00fffc;
    height: 460px;
    width: 460px;
    margin: 10px;
}

#inner-cirlce1:before {
    content: ' ';
    width: 240px;
    height: 480px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}

#inner-cirlce1:after {
    content: ' ';
    width: 480px;
    height: 240px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}


/* =========================================
Hexagon Mesh
========================================= */

.hexagons {
    animation: logo-entry 4s ease-in;
    color: #000;
    font-size: 52px;
    font-size: 5.1rem;
    letter-spacing: -0.2em;
    line-height: 0.7;
    position: absolute;
    text-shadow: 0 0 6px #00fffc;
    top: 310px;
    width: 100%;
    transform: perspective(600px) rotateX(60deg) scale(1.4);
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}


/* =========================================
Animation Keyframes
========================================= */

@keyframes logo-entry {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes circle-entry {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 0.4;
    }
}

@keyframes input-entry {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes form-entry {
    0% {
        height: 0;
        width: 0;
        opacity: 0;
        padding: 0;
    }
    20% {
        height: 0;
        border: 1px solid #00a4a2;
        width: 0;
        opacity: 0;
        padding: 0;
    }
    40% {
        width: 0;
        height: 220px;
        border: 6px solid #00a4a2;
        opacity: 1;
        padding: 0;
    }
    100% {
        height: 220px;
        width: 500px;
    }
}

@keyframes box-glow {
    0% {
        border-color: #00b8b6;
        box-shadow: 0 0 5px rgba(0, 255, 253, 0.2), inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 #000;
    }
    100% {
        border-color: #00fffc;
        box-shadow: 0 0 20px rgba(0, 255, 253, 0.6), inset 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 #000;
    }
}

@keyframes text-glow {
    0% {
        color: #00a4a2;
        text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
    }
    100% {
        color: #00fffc;
        text-shadow: 0 0 20px rgba(0, 255, 253, 0.6), 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 #000;
    }
}

@keyframes before-glow {
    0% {
        border-bottom: 10px solid #00a4a2;
    }
    100% {
        border-bottom: 10px solid #00fffc;
    }
}

@keyframes after-glow {
    0% {
        border-top: 16px solid #00a4a2;
    }
    100% {
        border-top: 16px solid #00fffc;
    }
}

@keyframes circle1 {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*-------------登录页面结束----------*/


/**/

.table-page,
.table-page .label {
    color: rgba(0, 0, 0, 0.54);
}

.validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px;
}


/**/


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
