/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */

//import sass
@import "sass/user-manage.scss";
// bower:scss
// endbower
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.thumbnail {
    height: 200px;
    img.pull-right {
        width: 50px;
    }
}

.fixed-center {
    position: fixed;
    left: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.dialog-lg {
    text-align: center;
}

.dialog-lg .modal-content {
    background-color: #fff;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border: none;
    text-align: center;
}

.loading-dialog {
    background: url('/assets/images/ring-200.svg');
    color: #bfc8cc;
    font-size: 24px;
    letter-spacing: 2px;
    cursor: default;
}

.dialog .content {
    line-height: normal;
    font-size: 40px;
    cursor: default;
}

.dialog .content i.material-icons {
    padding: 20px 0 30px 0;
    vertical-align: top;
    display: block;
    font-size: 70px;
    margin-top: 10px;
}

.success-dialog .content {
    color: #449d44;
}

.error-dialog .content {
    color: #c9302c;
}


/* Titles */


/*------------------ main页面开始 ---------------*/
html,body{
    font-size:16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

div,
input,
button,
select,
textarea {
    outline: none
}



/* Paragraph & Typographic */

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
    cursor: pointer;
}

.container-fluid {
    padding: 0;
}

.md-title{
    color:#4CAF50;
}
/* Links */

#myTab a {
    color: #1abc9c;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

#myTab a:hover,
#myTab a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

#myTab a:before,
#myTab a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

#myTab hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.w {
    background-color: #fff;
    margin: 0;
}

.w .left-panel {
    padding-left: 0px;
    padding-right: 0px;
}

.w .right-panel {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-tabs {
    border-bottom: 1px solid #dddddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border-left: 5px solid #1abc9c;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    width: 100%;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.428571429;
    border-bottom: 1px solid #dddddd;
    border-radius: 0 0 0 0;
    width: 100%;
    background-color: #f2f2f2;
}

.tab-content {
    background-color: #ffffff;
    padding: 20px 15px 0 15px;
 
}

.tab-content h5 {
    color: #bdc3c7;
    font-weight: 700;
    letter-spacing: 1px;
}

.red i {
    font-size: 12px;
    color: #e74c3c;
}

i {
    vertical-align: middle;
}

.sm {
    font-size: 14px;
}

.grep-line {
    margin: 10px;
}

grey {
    color: #bdc3c7;
    font-weight: 700;
    font-size: 16px;
}

.img-responsive {
    width: 100%;
}

.centered .img-responsive {
    max-width: 350px;
    width: 100%;
    height: auto;
    margin: 10px auto;
    border-radius: 0;
    font-size: 0px;
}

.centered:hover .img-responsive {
    transition: border-radius .35s;
    border-radius: 50%;
}

.tab-pane {
    height: 100%;
}

.tab-pane figure figcaption {
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    letter-spacing: 2px;
}

.info-name {
    letter-spacing: 4px;
}

#info h4 {
    margin-top: 20px;
}

@media screen and(max-width:1440px) {
    .centered .img-responsive {
        max-width: 260px;
    }
}

@media screen and(min-width:1330px) {
    .tab-pane .row {
        margin-top: 20px;
    }
}

@media screen and(min-width:991px) {
    .vertical-center {
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    .w .right-panel {
        overflow-x: hidden;
        overflow-y: auto;
    }
}


/*------------------ main页面结束 ---------------*/


/*-------------登录页面开始----------*/

.sign-page {
    color: #fff;
    height: 100%;
}

.sign-form {
    background-color: rgba(255, 255, 255, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 12px;
    text-align: center;
    width: 100%;
}

.login-logo {
    display: block;
    height: 100px;
    width: 100%;
    background-color: #111;
    margin-bottom: 200px;
}

.sign-form-padding {
    padding: 70px 30px;
}

.head-portrait {
    text-align: center;
    margin-bottom: 30px;
}

.head-portrait img {
    height: 120px;
    width: 120px;
}

.form-element {
    padding: 0 10% 50px 10%;
}

.form-element input {
    border: none;
    border-bottom: 1px solid #aaa;
    border-radius: 0;
    box-shadow: none;
    color: #1abc9c;
    font-weight: 400px;
    letter-spacing: 1px;
    font-size: 20px;
    height: 50px;
}

.sign-button button {
    background-color: #ffc100;
    color: #fff!important;
    font-size: 20px;
    font-weight: 800;
}

@media screen and(max-width:970px) {
    .sign-title {
        text-align: center;
        left: 0;
    }
}

@media screen and(min-width:970px) {
    .sign-title {
        left: 10%;
    }
}


/*-------------登录页面结束----------*/

/**/
.table-page,.table-page .label{
    color:#4CAF50;
}
/**/

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
