<div class="tab-pane" ng-clock>
    <md-toolbar class="md-default">
        <div class="md-toolbar-tools">
            <h2 class="md-flex"><grey style="font-size: 22px;color:#fff">{{selfUser.name}}</grey> 的信息</h2>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <div layout="row">
            <div flex-offset="10" flex="30">
                <p>
                    <i class="icon-globe"></i> 你的账号
                    <br/>
                    <i class="icon-globe"></i> 创建时间
                </p>
            </div>
            <!-- col-xs-6 -->
            <div flex="60">
                <p>
                    <i class="icon-phone"></i> {{selfUser.account}}
                    <br/>
                    <i class="icon-globe"></i> {{selfUser.createTime}}
                </p>
            </div>
            <!-- col-xs-6 -->
        </div>
        <!-- row -->
        <h4>任务完成情况</h4>
        <div layout="row">
            <div flex="40">
                <h5>全部任务</h5>
                <hr>
                <div>
                </div>
            </div>
            <!-- col-xs-6 -->
            <div flex-offset="20" flex="40">
                <h5>今天任务</h5>
                <hr>
                <div>
                <charts-legend chartdata="theChart" show="show" ng-click="handleShow()"></charts-legend>
                    <canvas id="pie" class="chart chart-pie" chart-data="[100,300,400,500,600]" chart-labels="['已完成','未完成',22,33,44]" chart-options="options" chart-legend="true">
                    </canvas>
                </div>
            </div>
            <!-- col-xs-6 -->
        </div>
        <h4>信息设置</h4>
        <hr>
        <div layout="row">
            <div flex="10">
                <span>帐号密码</span>
            </div>
            <div flex="90">
                <md-button id="btnChgPwd" ng-click="vm.changepwd($event)">修改密码</md-button>
            </div>
        </div>
        <div layout="row">
            <div flex="10">
                <span>退出系统</span>
            </div>
            <div flex="90">
                <md-button ng-click="vm.signOut()">退出</md-button>
            </div>
        </div>
    </md-content>
</div>
