<div class="tab-pane " id="info" >
    <h3 class="info-name"><i class="icon-briefcase"></i>{{selfUser.name}}</h3>
    <div class="sm">
        <div class="grep-line">
            <grey>账户:</grey> {{selfUser.account}}
        </div>
        <div class="grep-line">
            <grey>创建时间：</grey> {{selfUser.createTime}}.
        </div>
    </div>
    <h4><i class="icon-file-text-alt"></i>任务</h4>
    <div class="sm">
        <div class="grep-line">
            <grey>进行中：</grey> 100.
        </div>
        <div class="grep-line">
            <grey>已完成：</grey> 200.
        </div>
    </div>
    <div laout="row"><md-button ng-click="vm.signOut()" >修改密码</md-button></div>
    <div laout="row"><md-button ng-click="vm.signOut()" >退出</md-button></div>
    
    
</div>
