<div   id="schedule" ng-cloak layout-padding>
    <h4>项目进度</h4>
    <hr>
     <div layout="row">
      <md-input-container>
        <label>选择项目</label>
        <md-select ng-model="vm.selectedProject"  md-selected-text="'当前项目：'+vm.selectedProject.projectName">
          <md-optgroup label="项目">
            <md-option ng-value="project" ng-repeat="project in vm.projects" ng-selected="project.isActive===true"> {{project.projectName}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
</div>
