<div class="tab-pane" id="taskManage">
    <div class="md-toolbar-tools layout-align-space-between-stretch" layout-align="space-between">
        <div class="md-title">任务管理</div>
    </div>
    <md-toolbar class="md-table-toolbar md-theme-light" ng-hide="selected.length || filter.show">
        <div class="md-toolbar-tools">
            <span>{{$state.includes('home.task.list')?'任务列表':'新增任务'}}</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="filter.show=true;" ng-show="$state.includes('home.task.list')">
                <md-tooltip md-direction="top">
                    查询
                </md-tooltip>
                <md-icon class="material-icon">search</md-icon>
            </md-button>
            <md-button class="md-icon-button" ui-sref="home.task.add" ng-show="$state.includes('home.task.list')">
                <md-tooltip md-direction="top">
                    增加
                </md-tooltip>
                <md-icon class="material-icon">add</md-icon>
            </md-button>
            <md-button class="md-icon-button" ui-sref="home.task.list" ng-show="$state.includes('home.task.add')">
                <md-tooltip md-direction="left">
                    返回
                </md-tooltip>
                <md-icon class="material-icon">arrow_back</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar md-primary" ng-show="selected.length">
        <div class="md-toolbar-tools">
            <span>{{selected.length}}项被选中</span>
            <span flex></span>
            <md-button ng-show="selected.length==1" class="md-icon-button" ng-click="openAddOperation($event)">
                <md-tooltip md-direction="top">
                    修改
                </md-tooltip>
                <md-icon class="material-icon" style="color:#fff">edit</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="selected=[]">
                <md-tooltip md-direction="top">
                    取消选中
                </md-tooltip>
                <md-icon class="material-icon" style="color:#fff">indeterminate_check_box</md-icon>
            </md-button>
            <md-button class="md-icon-button md-warn" ng-click="deleteOperation($event)">
                <md-tooltip md-direction="top">
                    删除
                </md-tooltip>
                <md-icon class="material-icon">delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length">
        <div class="md-toolbar-tools">
            <md-input-container md-no-float class="md-block" flex style="height:24px">
                <md-icon class="material-icon">search</md-icon>
                <input id="strsearch" type="text" ng-model="searchtitle" placeholder="根据标题查询">
            </md-input-container>
            <md-button class="md-icon-button" ng-click="filter.show=false;searchtitle='';">
                <md-tooltip md-direction="top">
                    取消
                </md-tooltip>
                <md-icon class="material-icon">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <!-- exact table from live demo -->
    <div ui-view></div>
</div>
