<div class="chart-legend">
    <ul class="line-legend">
        <li ng-repeat="item in chartdata.data track by $index"
            ng-click="show[$index] = !show[$index];"
            style="cursor: pointer;">
            <span   ng-style="{ 'background' : ((show[$index] === true) ? chartdata.colors[$index].strokeColor : 'silver')}" 
                    title="Show/hide corresponding line on chart">
            </span>
            {{ chartdata.series[$index] }} 
        </li>
    </ul>

</div>