<div  class="sign-in" style="width: 100%;height:100%;">
    <div style="position: absolute;width: 100%;height:100%;top: 60%;transform: translateY(-50%);">
        <div id="logo">
            <h1 class="hogo"><i> TEST PLAN </i></h1>
        </div>
        <section  class="{{vm.logining===true?'distroy stark-login':'stark-login'}}">
            <form ng-submit="vm.signIn()"  style="z-index:3" name="signForm">
                <div id="fade-box" style="padding-top: 10px;" layout-padding>
                    <md-input-container class="md-block">
                        <label style="text-align: left;">Account</label>
                        <input ng-model="vm.loginUser.account" name="inputAccount" required>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label style="text-align: left;">Password</label>
                        <input type="password" ng-model="vm.loginUser.password" name="inputPassword" required>
                    </md-input-container>
                    <div layout="column">
                        <md-button type="submit" class="md-raised  md-button md-ink-ripple" ng-disabled="signForm.$invalid||signForm.$pending">Sign In</md-button>
                    </div>
                </div>
            </form>
            <div class="hexagons">
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <br>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <br>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <br>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <br>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
            </div>
        </section>
        <div id="circle1">
            <div id="inner-cirlce1">
                <h2> </h2>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
