<md-content   layout-padding resizable style="margin-bottom: -40px;background-color: rgba(190,190,190,.4);">
    <ol  class="breadcrumb" style="background-color: transparent;">
        <li><a href="javascript:void(0)" ui-sref="home.operate">个人操作</a></li>
        <li class="active ">个人日志</li>
    </ol>
    <ul class="timeline animated" infinite-scroll='vm.loadjournalMore()' infinite-scroll-distance='1' infinite-scroll-disabled="!vm.enableDataToload" infinite-scroll-parent ="vm.parentScroll" >
        <li in-view="vm.InView($index, $inview)"  ng-class="{active:journal.active}"  ng-repeat="journal in vm.journals"   >
            <div class="timeline-time">
                <strong>{{journal.journalTime | date :'yyyy年MM月dd日'}}</strong>
                <span>{{journal.journalTime | date :'h:mm a'}}</span>
            </div>
            <div class="timeline-icon">
            </div>
            <div class="timeline-content">
                <div class="action-bar">
                    <md-icon class="md-icon-button" ng-click="vm.editJournal($event,journal)">edit</md-icon>
                    <md-icon class="md-icon-button" ng-click="vm.deleteJournal($event,journal)">delete</md-icon>
                </div>
                <h2>
                {{journal.title}}
                </h2>
                <p>
                    {{journal.log}}
                </p>
            </div>
        </li>
    </ul>
</md-content>
<div style="position: absolute;right:40px;bottom:60px;">
    <a href="javascript:void(0)"  scrolltotop="md-content" class="right-action-btn">
        <md-icon >expand_less</md-icon>
    </a>
    <a href="javascript:void(0)" ng-click="vm.editJournal($event)"  class="right-action-btn ">
        <md-icon >edit</md-icon>
    </a>
</div>
